*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    background-color: greenyellow;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}

header h1 a {
font-weight: bold;
color: white;
}

header div{
    background-color: greenyellow;
}

header nav {
    display: flex;
    background-image: linear-gradient(#ba0000,#ba0000);
}

header div nav a {
    background-position: center;
    padding: 10px;
    transition-property: background-position;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}



//*.hero{
    background-image: url("../images/Abstract_BG.jpg");
    margin: 0;
    height: 250px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;