body{
    background-color:cornsilk;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

#main-header, #main-footer{
    background-color: crimson;
    color: white;
}

#nav-bar{
    background-color: black;
    color: white;
    top: 0;
    position: sticky;
}

#nav-bar ul{
    padding:0;
    list-style: none;
}

#nav-bar li{
    display: inline;
}

#nav-bar a{
    color:white;
    text-decoration: none;
    font-size: 16px;
    padding-right: 16px;
}

#showcase{
    background-image: url("../images/background.jpg");
    height: 200px;
    min-height: 200px;
}

#showcase h2{
    color: white;
    font-size: 50px;
}

#main-footer{
    height: 30px;
}
.main-sub{
    float: right;
    width:85%;
    padding: 0 30px;
    box-sizing: border-box;
    border-left: 5px solid red;

}
#sidebar{
    float: left;
    width:15%;
    box-sizing: border-box;
    padding: 0 0 40px 0;
}